@use "sass:math";

$action-size: 50;
$up-down-size: 66;

.gamecontroller {
  &__container {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__stage {
    border: 2px solid;
    min-height: 40vh;
    width: 90vw;
    justify-self: flex-start;
    position: relative;
    z-index: 999;
  }
  &__main-controls {
    width: 100%;
    display: flex;
    margin-bottom: 20%;
  }
  &__d-pad {
    &-container {
      align-self: flex-start;
      justify-self: flex-start;
      display: flex;
      flex-wrap: wrap;
      width: 45%;
      justify-content: space-between;
      margin-left: 2.5%;
      margin-top: 2%;
    }
    &-btn {
      margin-bottom: 5%;
      &--up {
        height: #{$up-down-size}px;
        width: 25%;
        margin-left: 38%;
        margin-right: 38%;
      }
      &--right {
        width: 38%;
        height: #{math.div($up-down-size, 2)}px;
      }
      &--down {
        height: #{$up-down-size}px;
        width: 25%;
        margin-left: 38%;
        margin-right: 38%;
      }
      &--left {
        width: 38%;
        height: #{math.div($up-down-size, 2)}px;
      }
    }
  }

  &__ancillaries {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 5%;
      padding: 1% 5%;
    }
  }

  &__actions {
    width: 45%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  &__action-btn {
    width: #{$action-size}px;
    height: #{$action-size}px;
    border-radius: 50%;
    &--2 {
      margin-left: calc(50% - #{$action-size}px);
    }
    &--1 {
      margin-left: auto;
    }
  }

  &__actions--four {
    margin-left: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: initial;

    .gamecontroller__action-btn {
      &--1 {
        margin-left: calc(50% - #{math.div($action-size, 4)}px);
      }

      &--3 {
        margin-left: auto;
        margin-top: -#{$action-size}px;
      }
      &--4 {
        margin-left: calc(50% - #{math.div($action-size, 4)}px);
        margin-bottom: 30%;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .gamecontroller {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
    }

    &__stage {
      width: 50%;
      height: 90vh;
      top: 1vh;
      position: absolute;
      left: 27%;
    }
    &__main-controls {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 33vh;
    }
    &__d-pad-container {
      width: 25%;
      margin-left: 1%;
    }
    &__actions {
      width: 25%;
      margin-left: auto;
      margin-right: 1%;
    }
    &__ancillaries {
      width: 100%;
      bottom: 0;
      position: absolute;
      height: 9vh;
      z-index: 99;
      button {
        margin: 0 1%;
        padding: 0.25% 5%;
      }
    }

    &__d-pad {
      &-btn {
        margin-bottom: 5%;
        &--up {
          height: 66px;
          width: 25%;
          margin-left: 38%;
          margin-right: 38%;
        }
        &--right {
          width: 38%;
          height: 33px;
        }
        &--down {
          height: 66px;
          width: 25%;
          margin-left: 38%;
          margin-right: 38%;
        }
        &--left {
          width: 38%;
          height: 33px;
        }
      }
    }

    &__actions--four {
      .gamecontroller__action-btn {
        &--1 {
          margin-left: calc(50% - #{math.div($action-size, 8)}px);
        }

        &--2 {
          margin-right: auto;
        }
        &--3 {
          margin-left: auto;
        }
        &--4 {
          margin-left: calc(50% - #{math.div($action-size, 8)}px);
        }
      }
    }
  }
}
